/*
  config css post-action class

*/
.post-action-dropdown {
  font-size: 25px;
  margin-top: -60px;
  cursor: pointer
}

ul.dropdown-menu {
   margin-right: -17px;
   margin-top: -30px;
   padding: 0px;
}
.post-action-delete {
  text-align: center;
}
.post-action-edit {
  text-align: center;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.post-header-avatar {
  display: table-cell;
  vertical-align: top
}
.post-header-title {
  display: table-cell;
  vertical-align: top;
  padding-left: 5px;
}
.post-header-title > p {
  margin: -2px 0px -2px 0px;
}
/* Panel Body */
.panel-body {
  padding: 10px !important;
}
.edit-post {
  display:none;
  border:1px solid #CCCCCC;
}
.edit-post > textarea {
  resize: none;
  width: 100%;
  text-indent: 5px;
  overflow:hidden;
  height: auto;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.edit-post-action {
  background-color:#EEEEEE;
  height: 45px;
  padding:5px;
  padding-top:7px;
}
.edit-post-action > .btn-info {
  margin-right:5px
}
.post-action-social {
  border-top:2px solid #EDEDED;
  padding-top:10px
}
.post-action-social > a {
  text-decoration:none;
}
.fa-thumbs-up {
  color:blue !important;
  font-size:19px !important;
}
.fa {
  font-size:19px !important;
}
.sub-comment > p {
  margin: 0;
  padding: 0;
}
.comment-body > p {
  margin: 0;
  padding: 0;
}
.comment-avatar-user {
  display: table-cell;
  vertical-align: top;
  padding-top: 3px;
}
.comment {
   margin-top: 10px;
}
.comment-body {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  width: 100%;
}
.comment-user-avatar {
  height: 27px;
  width: 27px;
  margin-bottom: 2px;
}
.comment-typing {
  width: 92%;
  margin-top: 15px;
}
.sub-comment-item {
  margin-top : -5px;
}
.sub-comment-user-avatar {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
}
.sub-comment-typing {
  height:23px;
  width: 92%;
  margin-top: 10px;
}
.load-more {
  margin-bottom:15px;
  width:100%;
}
/*
  config css modal

*/
div.modal-confirm {     
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
    text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;   
  position: relative;
  padding: 0px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;     
  border-radius: 5px;
  font-size: 13px;
  padding: 0px;
}  
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}